<a href="https://colab.research.google.com/github/SushmithaReddyChintalapani/labassignment-04/blob/main/INFO5731_Assignment_One_sushmithafall2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [3]:

def myFunc(e):
  return len(e)
import random
random_list1 = random.sample(range(1, 100), 12)#.sort()
print("Ascending Order of the list is:", sorted(random_list1))
print("Descending Order of the list is:", sorted(random_list1, reverse = True))
print("The average of the list is:", sum(random_list1)/len(random_list1))

Ascending Order of the list is: [14, 28, 32, 34, 53, 65, 68, 72, 75, 81, 83, 87]
Descending Order of the list is: [87, 83, 81, 75, 72, 68, 65, 53, 34, 32, 28, 14]
The average of the list is: 57.666666666666664

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [9]:
sent_1 = input("Enter the first sentence: ")
sent_2 = input("Enter the second sentence: ")
#
import re
sent1_list = re.findall(r"[A-Za-z]+|\S", sent_1)
sent2_list = re.findall(r"[A-Za-z]+|\S", sent_2)
print(sent1_list)
print(sent2_list)
print()
# 
common_words = list(set(sent1_list)&set(sent2_list))
common_words = [i for i in common_words if i.isalpha()]
print("The common words in the sentence are : ", common_words)
print()

# 
print(" ".join(i for i in re.findall(r"[A-Za-z]+|\s", sent_1) if i != " "))
print()

# 
for sent in (sent_1, sent_2):
  vowels_count = {}
  for char in ['a', 'e', 'i', 'o', 'u']:
    vowels_count[char] = sentence.lower().count(char)

  print(vowels_count)

Enter the first sentence: 'Alas, '!', 'Am', 'I', 'alive, '?'
Enter the second sentence:  'This', 'is', 'my', 'first', 'python', 'program'
["'", 'Alas', ',', "'", '!', "'", ',', "'", 'Am', "'", ',', "'", 'I', "'", ',', "'", 'alive', ',', "'", '?', "'"]
["'", 'This', "'", ',', "'", 'is', "'", ',', "'", 'my', "'", ',', "'", 'first', "'", ',', "'", 'python', "'", ',', "'", 'program', "'"]

The common words in the sentence are :  []

Alas Am I alive

{'a': 2, 'e': 1, 'i': 1, 'o': 3, 'u': 0}
{'a': 2, 'e': 1, 'i': 1, 'o': 3, 'u': 0}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [11]:
import math
print("r v")
for r in range(1, 11):
  print("{} {}".format(r, (4/3)*math.pi*(r**3)))

r v
1 4.1887902047863905
2 33.510321638291124
3 113.09733552923254
4 268.082573106329
5 523.5987755982989
6 904.7786842338603
7 1436.7550402417319
8 2144.660584850632
9 3053.6280592892786
10 4188.790204786391

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [40]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [50]:
import pandas as pd

data_file = pd.read_csv('/content/drive/MyDrive/Assignment1_denton_housing.csv')
data.head()

   year             title_field  value
0  2014     Total Housing Units  49109
1  2014    Vacant Housing Units   2814
2  2014  Occupied Housing Units  46295
3  2013     Total Housing Units  47888
4  2013    Vacant Housing Units   4215

In [51]:
# 1.)
import pandas as pd
import io
result = {}
for year in range(2008, 2014):
  result["{}-{}".format(year, year+1)] = abs(data_file[(data_file['year'] == year) & (data_file['title_field'] == "Occupied Housing Units")].values[0][2] - data_file[(data_file['year'] == year + 1) & (data_file['title_field'] == "Occupied Housing Units")].values[0][2])
print("The ascending order of Occupied Housing Units is: ")
result = {X: v for X, v in sorted(result.items(), key=lambda item: item[1])}
for X in result.keys():
  print("{}: {}".format(X, result[X]))

The ascending order of Occupied Housing Units is:
2010-2011: 303
2008-2009: 795
2011-2012: 1404
2012-2013: 1565
2013-2014: 2622
2009-2010: 5091

In [58]:
# 2.)
import pandas as pd
percentage1_result1 = pd.DataFrame(columns = ['Year', 'Vacant Housing Units', 'Occupied Housing Units'])
for year in range(2008, 2015):
  result = {}
  result['Year'] = year
  result['Vacant Housing Units'] = round((data_file[(data_file['year'] == year)]['value'].values[1]) / (data_file[(data_file['year'] == year)]['value'].values[0])*100, 2)
  result['Occupied Housing Units'] = round((data_file[(data_file['year'] == year)]['value'].values[2]) / (data_file[(data_file['year'] == year)]['value'].values[0])*100, 2) 

  percentage1_result1 = percentage1_result1.append(result, ignore_index=True)
percentage1_result1['Year'] = percentage1_result1['Year'].astype('int64')
print(percentage1_result1.to_string(index=False))

 Year  Vacant Housing Units  Occupied Housing Units
 2008                 10.88                   89.12
 2009                  9.07                   90.93
 2010                  8.14                   91.86
 2011                  9.38                   90.62
 2012                  6.68                   93.32
 2013                  8.80                   91.20
 2014                  5.73                   94.27

In [60]:
housing_units = pd.DataFrame(columns=['Units','Year', 'Value'])
for u in ['Vacant Housing Units', "Occupied Housing Units"]:
  output = {}
  output['Units'] = u
  output['Value'] = data_file[data_file['title_field'] == u].max()[2]
  output['Year'] = data_file[(data_file['title_field'] == u) & (data_file['value'] == output['Value'])]['year'].values[0]
  housing_units = housing_units.append(output, ignore_index=True)

housing_units.rename(columns = {'Units':"", 'Year': "Year", "Value": "Value"}, inplace = True)
print(housing_units.to_string(index = False))

                       Year Value
  Vacant Housing Units 2008  4483
Occupied Housing Units 2014 46295

In [61]:
from statistics import harmonic_mean
print("Housing units total Harmonic mean is: ",harmonic_mean(data[data['title_field'] == 'Total Housing Units']['value']))

Housing units total Harmonic mean is:  44398.28543969185