<a href="https://colab.research.google.com/github/SushmithaReddyChintalapani/labassignment-04/blob/main/Sushmitha_in_class_exercise_01_11554373.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (09/07/2022, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [ ]:
String ='Data Modeling'
print(len(String))

13

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:

import collections
def char_count():
  #string to be entered
    r = input('Enter a String: ') 
    #counts the string characters
    return collections.Counter(list(r))
    #prints the characters
print(char_count())

Enter a String: Google.com
Counter({'o': 3, 'G': 1, 'g': 1, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1})

(3) Write a Python program to sum all the items in a list. (4 points)

In [ ]:
def sum_list_of_numbers(items):
    sum_of_numbers = 0
    for x in items:
        sum_of_numbers += x
    return sum_of_numbers
print(sum_list_of_numbers([34, 67,56,98,29]))

284

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [ ]:
def change_char(string1):  
  char = string1[0]  
  leng = len(string1) 
  #replace the S char with $ 
  string1 = string1.replace(char, '$')  
  string1 = char + string1[1:]  
  
  return string1  
  #print the replaced character output
print(change_char('restart'))

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [ ]:
import math;
def calculated(a,b):
  s=0
  s=3.14*(1+a/b)**3
  return s

print(calculated(37,9))

419.25245541838126

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dictionary1={1:10, 2:20}  
dictionary2={3:30, 4:40}  
dictionary3={5:50,6:60}  
dictionary4 = {}  
for d in (dictionary1, dictionary2, dictionary3): dictionary4.update(d)  
print(dictionary4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [ ]:
#a tuple is taken
tuple_new = ("B", "I", "G", "D", "A", "T", "A" )
#print True if the elements are present in the tuple
print("B" in tuple_new )
#print false if the elements are not present in the tuple
print(10 in tuple_new)

True
False

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [ ]:
set_elements = {45, 10, 66, 50, 7, 202}
print("Elements the set:")
print("Max value of the set :\n")
print(max(set_elements))
print("Min value of the set :\n")
print(min(set_elements))

Elements the set:
Max value of the set :

202
Min value of the set :

7

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [ ]:
import random

stu_lis = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313',
                'ak0934','vm0377','nm0618','sm1640',
                'sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
def partition(stu_lis, n): 
    divide = len(stu_lis) / float(n) 
    return [ stu_lis[int(round(divide * i)): int(round(divide * (i + 1)))] for i in range(n) ]
partition(stu_lis,12)

[['ja0964', 'sa1198'],
 ['sb1357', 'vb0218', 'sc1229'],
 ['kg0569', 'kg0470', 'sg1297'],
 ['bg0320', 'fh0141'],
 ['jl1252', 'sk1386'],
 ['ak0956', 'sk1390', 'sk1458'],
 ['sk1313', 'ak0934', 'vm0377'],
 ['nm0618', 'sm1640'],
 ['sm1907', 'gn0108'],
 ['pr0353', 'dr0609', 'ms1500'],
 ['aos0040', 'ds0814', 'av0659'],
 ['nv0234', 'hy0232']]

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [ ]:
from numpy.core.defchararray import endswith
import numpy as np
array_1 = np.array([22, 37, 48, 15, 23, 44, 45, 63, 45, 44, 17, 84, 23, 6, 24])

flag = 0

for num in set(array_1):
  
  if np.count_nonzero(array_1 == num) > 1:
    flag = 1
    print(num, end = ', ')
if flag == 0:
  print("-1")

44, 45, 23,

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [ ]:
from datetime import date, timedelta
def sundays(year):
       date_1 = date(year, 1, 1)
       date_1 += timedelta(days = 6 - date_1.weekday())  
       while date_1.year == year:
          yield date_1
          date_1 += timedelta(days = 7)
          
for sun in sundays(2018):
   print(sun)

2018-01-07
2018-01-14
2018-01-21
2018-01-28
2018-02-04
2018-02-11
2018-02-18
2018-02-25
2018-03-04
2018-03-11
2018-03-18
2018-03-25
2018-04-01
2018-04-08
2018-04-15
2018-04-22
2018-04-29
2018-05-06
2018-05-13
2018-05-20
2018-05-27
2018-06-03
2018-06-10
2018-06-17
2018-06-24
2018-07-01
2018-07-08
2018-07-15
2018-07-22
2018-07-29
2018-08-05
2018-08-12
2018-08-19
2018-08-26
2018-09-02
2018-09-09
2018-09-16
2018-09-23
2018-09-30
2018-10-07
2018-10-14
2018-10-21
2018-10-28
2018-11-04
2018-11-11
2018-11-18
2018-11-25
2018-12-02
2018-12-09
2018-12-16
2018-12-23
2018-12-30